rules_version = '2';

service cloud.firestore {
   match /databases/{database}/documents {

    // Allow read access to the "notes" collection only for everyone
    match /notes/{note} {
      allow read: if true;
      // Allow create operations on the "notes" collection only for everyone
      allow create: if true;
    }

    // Deny write access to any other document in any collection
    match /{document=**} {
      allow write: if false;
    }
  } 
}