.skeleton-root,
.skeleton-variant-rectangular {
  display: block;
  background: linear-gradient(270deg, rgba(219, 219, 219, 0.05) 0%, #dbdbdb 50%);
  animation: pulseKeyframe 3s ease-in-out 0.5s infinite normal none running;
}

.skeleton-variant-circular {
  border-radius: 50%;
}

.skeleton-variant-rounded {
  border-radius: 0.25rem;
}

@keyframes pulseKeyframe {
  0% {
    opacity: 1;
  }

  33% {
    opacity: 0.45;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
